/* You can add global styles to this file, and also import other style files */
:root{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    --color-primary: #147bbb;
    --color-secondary: #235782;
    --shadow-primary: #9e9e9e;
    --shadow-secondary: #6b6b6b;
}
