.card {
  width: 20em;
  background-color: var(--color-primary);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
  margin: 1em;
  box-shadow: 3px 3px 3px 3px var(--shadow-primary);
}

.card:hover {
  box-shadow: 3px 3px 3px 3px var(--shadow-secondary);

  background-color: var(--color-secondary);

  transform-origin: 50% 50%;
  transform: scale(1.04, 1.04);
  transition: background-color 0.2s, transform 0.15s;
  transition-timing-function: ease-in-out;
}
