.header {
  width: 95%;
  height: 3em;

  border: 3px solid #000000;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  text-align: center;
  
  
  box-shadow: 3px 3px 3px 3px var(--shadow-primary);
}